body {
  margin: 2% 5%;
  background: url("../../assets/images/leaves.png");
}

.jumbotron {
  text-align: center;
  background: rgba(45, 90, 41, 0.795);
  color: #f3f0f0f8;
}

h1, p {
  text-shadow: 0 0 20px #000000;
  font-family: 'Verdana', sans-serif, 'Anton';
}

td {
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-top: 0;
}

th {
  text-align: center;
  border-bottom: 2px solid rgba(12, 12, 105, 0.795) !important;
  border-right: 2px solid rgba(12, 12, 105, 0.795) !important;

}

th:last-child, td:last-child {
  border-right: none ;
}

.panel, .jumbotron {
  border: 6px solid rgb(128, 6, 6) !important;
  border-radius: 10px;
}

td {
  text-align: center;
}